[build]
  publish = "dist"
  command = "npm run build"
[build.processing.html]
  pretty_urls = false

[functions]
  directory = "netlify/functions"

[[headers]]
  for = "/_astro/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[dev]]
  framework = "#custom"
  targetPort = 4321
  command = "node -r dotenv/config node_modules/.bin/astro dev"

[context.development]
  command = "NODE_ENV=development npm run dev"
  [context.development.environment]
    PAYPAL_ENV = "sandbox"

[context.production]
  [context.production.environment]
    PAYPAL_ENV = "live"