[build]
  publish = "dist"
  command = "npm run build"
[build.processing.html]
  pretty_urls = false

[functions]
  directory = "netlify/functions"

[[headers]]
  for = "/_astro/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
