---
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import LatestWorkshops from '~/components/widgets/LatestWorkshops.astro';

const metadata = {
  title: 'About',
  description: 'Learn more about Pine Tree Magick',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About Pine Tree Magick"
    image={{
      src: 'https://images.unsplash.com/photo-1448375240586-882707db888b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Mystical Image',
    }}
  >
    <Fragment slot="title"><span class="capitalize">Passionate about helping others through the lens of mysticism</span></Fragment>

    <Fragment slot="subtitle">
      Pine Tree Magick is a small business rooted in astrology and intentional magick. My work aims to empower individuals by blending the wisdom of astrology with the rhythms of the natural world. With over a decade of experience as a healer, I offer thoughtful and practical guidance, with a mission to help others find ease and empowerment in their personal lives.
    </Fragment>
  </Hero>


  <!-- Content Widget **************** -->
  <Content
    wrapperClass='mb-0'
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: 'https://www.instagram.com/pinetreemagick/',
        },
      },
      {
        icon: 'tabler:brand-tiktok',
        callToAction: {
          target: '_blank',
          text: 'TikTok',
          href: 'https://www.tiktok.com/@pinetreemagick?lang=en',
        },
      },
    ]}
    image={{
      src: '/assets/images/headshot-2021.webp',
      alt: 'Colorful Image',
      loading: 'lazy',
      width: 600,
      height: 400,
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl tracking-tight font-heading dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        Hi there!  I’m Jersey Griggs, the creator of Pine Tree Magick. I’m a Maine-based writer and professional astrologer, with a grounded approach to the mystical world. I’m passionate about helping others through the lens of mysticism—whether through personalized astrology readings, captivating storytelling, or intentional workshops.
      </p>
      <br />
      <p>I offer written astrology readings, one-on-one astrology sessions, and group events that incorporate my extensive knowledge, including astrology workshops, moon circles, and manifestation classes. I also work with clients to help them understand the timing of their lives, and how they can achieve their dreams with guidance from the cosmos.</p>
      <br />
      <p>
        Explore my offerings on my readings page, check out my upcoming events, or follow along on Instagram and TikTok @pinetreemagick to stay connected.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
      <!-- Stats Widget ****************** -->

    <Stats
      stats={[
        { title: 'Rising', amount: 'Gemini', icon: 'tabler:sunrise'},
        { title: 'Sun', amount: 'Leo', icon: 'tabler:sun'},
        { title: 'Moon', amount: 'Scorpio', icon: 'tabler:moon'},
      ]}
    />
  <!-- Features3 Widget ************** -->

  <Features3
    wrapperClass='pt-0'
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'I Believe In',
        description:
          'The natal promise, reincarnation, spirit guides, ancestral work, manifestation, signs from loved ones, living with intention, working with nature’s cycles',
        icon: 'tabler:star',
      },
      {
        title: 'You Can Find Me',
        description:
          'Exploring new places, devouring books, doing anything outside, swimming in the ocean, listening to podcasts, watching the sunset, working on my YA novel',
        icon: 'tabler:search',
      },
      {
        title: 'My Favorite Things',
        description:
          'Good books, snuggly dogs, drinking tea, skiing powder, watching the sunset, going for a swim, picking flowers, cozy fires, mountain summits',
        icon: 'tabler:heart',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Daily Rituals',
        description:
          'Journaling, meditation, Tarot, walks in nature, drinking tea, breathwork, EFT',
        icon: 'tabler:moon',
      },
      {
        title: 'On My Bookshelf',
        description:
          'Many Lives, Many Masters by Brian Weiss, M.D., The Four Agreements by Don Miguel Ruiz, Ask and It is Given by Esther and Jerry Hicks, The Secret Language of Your Body by Inna Segal',
        icon: 'tabler:book',
      },
      {
        title: 'Personality Profile',
        description:
          'Enneagram 4, Meyers Briggs INFJ, Human Design Manifesting Generator',
        icon: 'tabler:book',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1533294455009-a77b7557d2d1?q=80&w=3840&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Mystical Landscape',
    }}
  />

    <!-- Content Widget **************** -->
    <Content
    wrapperClass='mb-0'
    isReversed
    id="mystory"
    image={{
      src: '/assets/images/northern-lights.webp',
      alt: 'Colorful Image',
      loading: 'lazy',
      width: 600,
      height: 400,
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl tracking-tight font-heading dark:text-white sm:text-3xl mb-2">My Story</h2>
      <p>
        My spiritual journey began at 8 years old when I picked up a copy of my mom’s book, Many Lives, Many Masters by Brian Weiss, M.D. Based upon a psychiatrist’s experience with reincarnation, this book spoke to me at a very young age, as did the idea that every soul has several incarnations on Earth. Since then, I’ve grown to understand that life is a series of lessons, and that we’re all here to continue learning, evolving, and growing as best we can.
      </p>
      <br />
      <p>I’ve also learned that growth is never linear, as every human is continually tested by relationships, lessons, hardships, and our own limitations. My personal journey to healing has been informed by several different modalities, including earning my 200-hour yoga certification, a meditation practice, IFS therapy, Tarot, and herbalism. Through these studies, I’ve cultivated my own intentional magickal practice, which is guided by astrology, the lunar cycles, and a deep love of the natural world.</p>
      <br />
      <p>
        Of all the practices I’ve studied, astrology has been the most profound. Studying astrology has connected me to my calling, and helped me better understand myself and my place in the world. Having my natal chart professionally read years ago was the first time I truly felt seen, and since then, unlocking my chart’s potential has helped me live with purpose, intention, and greater ease. I’ve grown from someone dominated by fear and worry to someone who leads an intentional life guided by trust.
      </p>
      <br />
      <p>
        As a healer, I feel called to help others on their own journey to healing—whether by exploring their unique potential in a natal chart reading, preparing them for the year ahead, or leading workshops that allow them to align with their own magickal blueprint. 
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
    <!-- CallToAction Widget *********** -->

    <CallToAction
    title="Align with the Stars"
    subtitle="Ready to discover what the cosmos has in store for you?"
    wrapperClass=""
    actions={[
      {
        variant: 'primary',
        text: 'Book a Reading',
        href: '/book-a-reading',
      },
    ]}
  />

    <!--  Latest Workshops -->
    <LatestWorkshops />

</Layout>
