---
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import LatestWorkshops from '~/components/widgets/LatestWorkshops.astro';

const metadata = {
  title: 'About',
  description: 'Learn more about Pine Tree Magick',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About Pine Tree Magick"
    image={{
      src: 'https://images.unsplash.com/photo-1448375240586-882707db888b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Mystical Image',
    }}
  >
    <Fragment slot="title"><span class="capitalize">I’m passionate about helping others through the lens of mysticism</span></Fragment>

    <Fragment slot="subtitle">
      Pine Tree Magick is a small business rooted in astrology and intentional magick. My work aims to empower individuals by blending the wisdom of astrology with the rhythms of the natural world. With over a decade of experience as a healer, I offer thoughtful and practical guidance, with a mission to help others find ease and empowerment in their personal lives.
    </Fragment>
  </Hero>


  <!-- Content Widget **************** -->
  <Content
    wrapperClass='mb-0'
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: 'https://www.instagram.com/pinetreemagick/',
        },
      },
      {
        icon: 'tabler:brand-tiktok',
        callToAction: {
          target: '_blank',
          text: 'TikTok',
          href: 'https://www.tiktok.com/@pinetreemagick?lang=en',
        },
      },
    ]}
    image={{
      src: '/assets/images/headshot-2021.webp',
      alt: 'Colorful Image',
      loading: 'lazy',
      width: 600,
      height: 400,
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl tracking-tight font-heading dark:text-white sm:text-3xl mb-2">About me</h2>
      <p>
        Hi there!  I’m Jersey Griggs, the creator of Pine Tree Magick. I’m a Maine-based writer and professional astrologer, with a grounded approach to the mystical world. I’m passionate about helping others through the lens of mysticism—whether through personalized astrology readings, captivating storytelling, or intentional workshops.
      </p>
      <br />
      <p>I offer written astrology readings, one-on-one astrology sessions, and group events that incorporate my extensive knowledge, including astrology workshops, moon circles, and manifestation classes. I also work with clients to help them understand the timing of their lives, and how they can achieve their dreams with guidance from the cosmos.</p>
      <br />
      <p>
        Explore my offerings on my readings page, check out my upcoming events, or follow along on Instagram and TikTok @pinetreemagick to stay connected.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
      <!-- Stats Widget ****************** -->

      <Stats
      stats={[
        { title: 'Rising', amount: 'Gemini', icon: 'tabler:sunrise'},
        { title: 'Sun', amount: 'Leo', icon: 'tabler:sun'},
        { title: 'Moon', amount: 'Scorpio', icon: 'tabler:moon'},
      ]}
    />
  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Enchanted Templates"
    subtitle="Discover templates that resonate with your soul's journey, designed to enhance your spiritual practice."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Astrology',
        description:
          'Dive deep into the stars and uncover your astrological chart. Our templates help you interpret celestial influences.',
        icon: 'tabler:star',
      },
      {
        title: 'Tarot',
        description:
          'Harness the power of tarot to gain insights and guidance. Our templates provide a framework for your readings.',
        icon: 'tabler:star',
      },
      {
        title: 'Crystals',
        description:
          'Learn about the healing properties of crystals and how to incorporate them into your life with our beautifully designed templates.',
        icon: 'tabler:star',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Moon Phases',
        description:
          'Align your intentions with the lunar cycle. Our templates guide you through the phases of the moon for optimal manifestation.',
        icon: 'tabler:moon',
      },
      {
        title: 'Rituals',
        description:
          'Create sacred space and perform rituals that resonate with your intentions. Our templates provide step-by-step guidance.',
        icon: 'tabler:wand',
      },
      {
        title: 'Meditation',
        description:
          'Enhance your meditation practice with templates designed to deepen your connection to the universe.',
        icon: 'tabler:star',
      },
      {
        title: 'Herbalism',
        description:
          'Explore the magical properties of herbs and how to use them in your practice with our informative templates.',
        icon: 'tabler:leaf',
      },
      {
        title: 'Astrological Events',
        description:
          'Stay informed about upcoming astrological events and how they affect your life with our event tracking templates.',
        icon: 'tabler:calendar',
      },
      {
        title: 'Spiritual Growth',
        description:
          'Embark on a journey of self-discovery and spiritual growth with our templates designed to support your path.',
        icon: 'tabler:growth',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1533294455009-a77b7557d2d1?q=80&w=3840&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Mystical Landscape',
    }}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our Values"
    subtitle="Embrace the magic within and connect with the universe. Our values guide our practice and offerings."
    items={[
      {
        title: 'Intuition',
        description: 'Trust your inner voice and let it guide you on your spiritual journey.',
      },
      {
        title: 'Community',
        description: 'We believe in the power of connection and support within our mystical community.',
      },
      {
        title: 'Empowerment',
        description: 'Our templates are designed to empower you to take charge of your spiritual path.',
      },
    ]}
  />

    <!--  Latest Workshops -->
    <LatestWorkshops />

</Layout>
