---
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import LatestWorkshops from '~/components/widgets/LatestWorkshops.astro';

const metadata = {
  title: 'About | Pine Tree Magick',
  description: 'Learn more about Pine Tree Magick',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About Pine Tree Magick"
    image={{
      src: '/assets/images/forest-fog.webp',
      alt: 'Mystical Image',
    }}
  >
    <Fragment slot="title">A Grounded Approach<br> to Astrology and Magick</Fragment>

    <Fragment slot="subtitle">
      <span class="text-muted">
        Pine Tree Magick is a small business rooted in astrology and ritual magick. With over a decade of experience as a healer, Jersey offers thoughtful and intuitive guidance, with a mission to help others reclaim their personal power.

    </Fragment>
  </Hero>
  <div class="mx-auto max-w-7xl px-8">
    <h2 class="bg-gradient-to-r from-secondary via-accent to-accent bg-clip-text text-transparent text-center text-3xl md:text-4xl font-heading font-normal">“Life is like a game of cards. The hand you are dealt is determinism; the way you play it is free will.”</h2>
    <p class="text-white font-light text-center mt-8 opacity-80">– - Jawaharlal Nehru <span class="font-bold"></span></p>
  </div>
  <!-- Content Widget **************** -->
  <Content
    wrapperClass="mb-0"
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: 'https://www.instagram.com/pinetreemagick/',
        },
      },
      {
        icon: 'tabler:brand-tiktok',
        callToAction: {
          target: '_blank',
          text: 'TikTok',
          href: 'https://www.tiktok.com/@pinetreemagick?lang=en',
        },
      },
    ]}
    image={{
      src: '/assets/images/headshot-2021.webp',
      alt: 'Colorful Image',
      loading: 'lazy',
      width: 600,
      height: 400,
    }}
  >
    <Fragment slot="content">
      <h2 class="text-3xl tracking-tight font-heading dark:text-white sm:text-4xl mb-2">About me</h2>
      <p>
        Hi there! I’m Jersey Griggs, the creator of Pine Tree Magick. I’m a professional writer and astrologer, and I’m passionate about helping others through the lens of mysticism.  My work combines astrology, Tarot, and ritual magick, all tools designed to help people make sense of their life path and become empowered along the way.

      </p>
      <br />
      <p>
        I specialize in ritual astrology, which combines the ancient knowledge of the cosmos with the art of manifestation. Through this work, I offer two types of readings: private sessions and audio readings, each designed to help you become more aligned with your most authentic self.  I invite you to check out my Readings Page to see which offering resonates with what your soul craves.



      </p>
      <br />
      <p>
        To stay connected, follow me on Instagram and TikTok @pinetreemagick or sign up for my Substack, Fourth House.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Rising', amount: 'Gemini', icon: 'tabler:sunrise' },
      { title: 'Sun', amount: 'Leo', icon: 'tabler:sun' },
      { title: 'Moon', amount: 'Scorpio', icon: 'tabler:moon' },
    ]}
  />
  <!-- Features3 Widget ************** -->

  <Features3
    wrapperClass="pt-0"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'I Believe In',
        description:
          'The natal promise, reincarnation, spirit guides, ancestral work, the power of ritual, manifestation, signs from loved ones, living with intention, working with nature’s cycles',
        icon: 'tabler:star',
      },
      {
        title: 'You Can Find Me',
        description:
          'Exploring new places, devouring books, doing anything outside, knitting sweaters, swimming in the ocean, listening to podcasts, watching the sunset',
        icon: 'tabler:search',
      },
      {
        title: 'My Favorite Things',
        description:
          'Good books, snuggly dogs, drinking tea, skiing powder, watching the sunset, going for a swim, picking flowers, cozy fires, mountain summits',
        icon: 'tabler:heart',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Daily Rituals',
        description: 'Journaling, meditation, Tarot, walks in nature, drinking tea, breathwork, EFT',
        icon: 'tabler:moon',
      },
      {
        title: 'On My Bookshelf',
        description:
          'Many Lives, Many Masters by Brian Weiss, M.D., The Four Agreements by Don Miguel Ruiz, Ask and It is Given by Esther and Jerry Hicks, The Secret Language of Your Body by Inna Segal, Becoming Supernatural by Dr. Joe Dispenza',
        icon: 'tabler:book',
      },
      {
        title: 'Personality Profile',
        description: 'Enneagram 4, Meyers Briggs INFJ, Human Design Manifesting Generator',
        icon: 'tabler:brain',
      },
    ]}
    image={{
      src: '/assets/images/moon-phases.webp',
      alt: 'Mystical Landscape',
    }}
  />

  <!-- Content Widget **************** -->
  <Content
    wrapperClass="mb-0"
    isReversed
    id="mystory"
    image={{
      src: '/assets/images/northern-lights.webp',
      alt: 'Colorful Image',
      loading: 'lazy',
      width: 600,
      height: 400,
    }}
  >
    <Fragment slot="content">
      <h2 class="text-3xl tracking-tight font-heading dark:text-white sm:text-4xl mb-2">My Story</h2>
      <p>
        My spiritual journey began at 8 years old when I picked up a copy of my mom’s book, Many Lives, Many Masters by
        Brian Weiss, M.D. Based upon a psychiatrist’s experience with reincarnation, this book spoke to me at a very
        young age, as did the idea that every soul has several incarnations on Earth. Since then, I’ve grown to
        understand that life is a series of lessons, and that we’re all here to continue learning, evolving, and growing
        as best we can.
      </p>
      <br />
      <p>
        I’ve also learned that growth is never linear, as every human is continually tested by relationships, lessons,
        hardships, and our own limitations. My personal journey to healing has been informed by several different
        modalities, including yoga, meditation, IFS therapy, Tarot, and
        herbalism. Through these studies, I’ve cultivated my own intentional magickal practice, which is guided by
        astrology, the lunar cycles, and a deep love of the natural world.
      </p>
      <br />
      <p>
        All of these healing modalities inform my work as an astrologer and ritual practitioner. It is both my pleasure and my calling to combine all of this knowledge under the umbrella of Pine Tree Magick, and to guide those who are curious about their own astrological blueprint and inherent power.
      </p>
      <br />
      <p>
        I would be honored to be your guide in this type of work. If a little part of you is saying “yes,”  then you already know what to do.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!--  Latest Workshops -->
  <LatestWorkshops />
  <!-- FAQs Widget ******************* -->
 <!-- FAQs Widget ******************* -->

 <FAQs
 title="Frequently Asked Questions"
 id="faq"
 items={[
   {
     title: 'Why do I need my birth time for an astrology reading?',
     description:
       'Your birth time is essential for an astrology reading because it determines the exact placement of the four angles in astrology, including your Ascendent (or rising sign) which determines the rest of your chart. Even a small difference in birth time can significantly change the chart, so having the correct time ensures more accurate insights. Please double check your birth time is correct before booking a reading.',
     icon: 'tabler:chevrons-right',
   },
   {
     title: "What's included with the ritual?",
     description:
       "Each ritual includes a recorded meditation, journal prompts,  altar suggestions, and step-by-step instructions. Rituals are included with all readings, but vary based on which type of reading you purchase. A private session includes a personalized ritual designed specifically for your unique chart, current planetary alignment, and divine timing. Audio readings provide astrological guidance based on your chart, in addition to a powerful manifestation ritual designed around your intention.",
     icon: 'tabler:chevrons-right',
   },
   {
     title: "I'm new to manifestation and ritual magick. Can I still do the ritual?",
     description:
       "Absolutely. The rituals provided are accessible to new and advanced practioners alike. If you've ever followed a guided meditation, written in a journal, or done an arts and crafts project, then you will be able to complete a Pine Tree Magick ritual.",
     icon: 'tabler:chevrons-right',
   },
   {
     title: 'How often should I get an astrology reading?',
     description:
       'I suggest booking a follow-up Cosmic Forecast reading annually. Just like a weather report, understanding the forecast for the year-ahead is an invaluable tool for planning ahead and understanding your current circumstances. As an added bonus, I offer lower rates for repeat private sessions.',
     icon: 'tabler:chevrons-right',
   },
 ]}
>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>
  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Take the Next Step"
    subtitle="Ready to live with more ease and empowerment?"
    wrapperClass=""
    actions={[
      {
        variant: 'primary',
        text: 'Book a Reading',
        href: '/readings',
      },
    ]}
  />

</Layout>
