---
import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import LatestWorkshops from '~/components/widgets/LatestWorkshops.astro';

const metadata = {
  title: 'About | Pine Tree Magick',
  description: 'Learn more about Pine Tree Magick',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About Pine Tree Magick"
    image={{
      src: '/assets/images/forest-fog.webp',
      alt: 'Mystical Image',
    }}
  >
    <Fragment slot="title">A Grounded Approach<br> to Astrology and Magick</Fragment>

    <Fragment slot="subtitle">
      <span class="text-muted">
        Pine Tree Magick is a small business rooted in astrology and intentional magick. With over a decade of experience as a healer, Jersey offers thoughtful and practical guidance, with a mission to help others find ease and empowerment in their personal&nbsp;lives.
      </span>
    </Fragment>
  </Hero>
  <div class="mx-auto max-w-7xl px-8">
    <h2 class="bg-gradient-to-r from-secondary via-accent to-accent bg-clip-text text-transparent text-center text-3xl md:text-4xl font-heading font-normal">“Know the heavens and you will understand yourself; know yourself and you will understand the heavens.”</h2>
    <p class="text-white font-light text-center mt-8 opacity-80">– 2nd Century Astrology, <span class="font-bold">Vettius Valens</span></p>
  </div>
  <!-- Content Widget **************** -->
  <Content
    wrapperClass="mb-0"
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: 'https://www.instagram.com/pinetreemagick/',
        },
      },
      {
        icon: 'tabler:brand-tiktok',
        callToAction: {
          target: '_blank',
          text: 'TikTok',
          href: 'https://www.tiktok.com/@pinetreemagick?lang=en',
        },
      },
    ]}
    image={{
      src: '/assets/images/headshot-2021.webp',
      alt: 'Colorful Image',
      loading: 'lazy',
      width: 600,
      height: 400,
    }}
  >
    <Fragment slot="content">
      <h2 class="text-3xl tracking-tight font-heading dark:text-white sm:text-4xl mb-2">About me</h2>
      <p>
        Hi there! I’m Jersey Griggs, the creator of Pine Tree Magick. I’m a professional writer and
        astrologer, with a grounded approach to the mystical world. I’m passionate about helping others through the lens
        of mysticism—whether through personalized astrology readings, captivating storytelling, or intentional
        workshops.
      </p>
      <br />
      <p>
        I offer written astrology readings, one-on-one astrology sessions, and group events that incorporate my
        extensive knowledge, including astrology workshops, moon circles, and manifestation classes. I also work with
        clients to help them understand the timing of their lives, and how they can achieve their dreams with guidance
        from the cosmos.
      </p>
      <br />
      <p>
        Explore my offerings on my readings page, check out my upcoming events, or follow along on Instagram and TikTok
        @pinetreemagick to stay connected.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Rising', amount: 'Gemini', icon: 'tabler:sunrise' },
      { title: 'Sun', amount: 'Leo', icon: 'tabler:sun' },
      { title: 'Moon', amount: 'Scorpio', icon: 'tabler:moon' },
    ]}
  />
  <!-- Features3 Widget ************** -->

  <Features3
    wrapperClass="pt-0"
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'I Believe In',
        description:
          'The natal promise, reincarnation, spirit guides, ancestral work, manifestation, signs from loved ones, living with intention, working with nature’s cycles',
        icon: 'tabler:star',
      },
      {
        title: 'You Can Find Me',
        description:
          'Exploring new places, devouring books, doing anything outside, swimming in the ocean, listening to podcasts, watching the sunset, working on my YA novel',
        icon: 'tabler:search',
      },
      {
        title: 'My Favorite Things',
        description:
          'Good books, snuggly dogs, drinking tea, skiing powder, watching the sunset, going for a swim, picking flowers, cozy fires, mountain summits',
        icon: 'tabler:heart',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Daily Rituals',
        description: 'Journaling, meditation, Tarot, walks in nature, drinking tea, breathwork, EFT',
        icon: 'tabler:moon',
      },
      {
        title: 'On My Bookshelf',
        description:
          'Many Lives, Many Masters by Brian Weiss, M.D., The Four Agreements by Don Miguel Ruiz, Ask and It is Given by Esther and Jerry Hicks, The Secret Language of Your Body by Inna Segal',
        icon: 'tabler:book',
      },
      {
        title: 'Personality Profile',
        description: 'Enneagram 4, Meyers Briggs INFJ, Human Design Manifesting Generator',
        icon: 'tabler:brain',
      },
    ]}
    image={{
      src: '/assets/images/moon-phases.webp',
      alt: 'Mystical Landscape',
    }}
  />

  <!-- Content Widget **************** -->
  <Content
    wrapperClass="mb-0"
    isReversed
    id="mystory"
    image={{
      src: '/assets/images/northern-lights.webp',
      alt: 'Colorful Image',
      loading: 'lazy',
      width: 600,
      height: 400,
    }}
  >
    <Fragment slot="content">
      <h2 class="text-3xl tracking-tight font-heading dark:text-white sm:text-4xl mb-2">My Story</h2>
      <p>
        My spiritual journey began at 8 years old when I picked up a copy of my mom’s book, Many Lives, Many Masters by
        Brian Weiss, M.D. Based upon a psychiatrist’s experience with reincarnation, this book spoke to me at a very
        young age, as did the idea that every soul has several incarnations on Earth. Since then, I’ve grown to
        understand that life is a series of lessons, and that we’re all here to continue learning, evolving, and growing
        as best we can.
      </p>
      <br />
      <p>
        I’ve also learned that growth is never linear, as every human is continually tested by relationships, lessons,
        hardships, and our own limitations. My personal journey to healing has been informed by several different
        modalities, including yoga, meditation, IFS therapy, Tarot, and
        herbalism. Through these studies, I’ve cultivated my own intentional magickal practice, which is guided by
        astrology, the lunar cycles, and a deep love of the natural world.
      </p>
      <br />
      <p>
        Of all the practices I’ve studied, astrology has been the most profound. Studying astrology has connected me to
        my calling, and helped me better understand myself and my place in the world. Having my natal chart
        professionally read years ago was the first time I truly felt seen and unlocking my chart’s
        potential has helped me live with purpose, intention, and greater ease. I’ve grown from someone dominated by
        fear and worry to someone who leads an intentional life guided by trust.
      </p>
      <br />
      <p>
        As a healer, I feel called to help others on their own journey to healing—whether by exploring their unique
        potential in a natal chart reading, preparing them for the year ahead, or leading workshops that allow them to
        align with their own magick.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!--  Latest Workshops -->
  <LatestWorkshops />
  <!-- FAQs Widget ******************* -->
  <FAQs
    title="Frequently Asked Questions"
    id="faq"
    items={[
      {
        title: 'Why do I need my birth time for an astrology reading?',
        description:
          'Your birth time is essential for an astrology reading because it determines the exact placement of the four angles in astrology, including your Ascendent (or rising sign) which determines the rest of your chart. Even a small difference in birth time can significantly change the chart, so having the correct time ensures the insights are correct.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Can astrology predict my future?',
        description:
          'Astrology doesn’t predict the future in a fixed or fatalistic way but instead provides insights into the energetic cycles and patterns that might influence your life. It highlights opportunities, challenges, and themes you’re likely to experience, helping you make informed decisions and align with the flow of these cosmic energies. Ultimately, your free will plays a central role in shaping your future, and astrology serves as a guide to empower you along the way.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What can astrology help me with?',
        description:
          'Astrology can help you understand yourself better, including your strengths, challenges, and life patterns. It can offer insight into relationships, career, personal growth, and timing for important life decisions. By understanding your natal chart and the timing of your life, astrology empowers you to navigate challenges, recognize opportunities, and live with more intention.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'How often should I get an astrology reading?',
        description:
          'This depends on your needs and goals. A full natal chart reading is typically a one-time session, offering deep insights into your life’s patterns, strengths, and purpose. After that, you might choose to have follow-up readings for transits, solar return charts, or electional astrology. Ultimately, it’s about what feels supportive and beneficial for you. Regular readings can help you stay aligned with the cosmic flow and make the most of the cycles in your life.',
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>
  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Take the Next Step"
    subtitle="Ready to live with more ease and empowerment?"
    wrapperClass=""
    actions={[
      {
        variant: 'primary',
        text: 'Book a Reading',
        href: '/readings',
      },
    ]}
  />

</Layout>
