---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'Book a Written Reading | Pine Tree Magic',
  description: "Book a written reading with Pine Tree Magick"
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText title="Book a Written Reading" />
  <p class="text-small text-white mb-6 mt-8 text-center">Please read the <a class="underline italic" href="/disclaimer">disclaimer</a> before booking.</p>

  <iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLScnNdTh0dvVhI6VzpDnAMs_0Zg9zEhDZjRgmkMgJbnbuqoBPA/viewform?embedded=true"
    width="100%"
    class="h-[4400px] md:h-[3500px] xl:h-[3550px]"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
  >
    Loading…
  </iframe>

  </Layout>