---
import Layout from '~/layouts/PageLayout.astro';

import HeroBackground from '~/components/widgets/HeroBackground.astro';
import ContentBasic from '~/components/widgets/ContentBasic.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import LatestWorkshops from '~/components/widgets/LatestWorkshops.astro';
import { getPermalink } from '~/utils/permalinks';
import client1Image from '~/assets/icons/moon-stars.svg';
import client2Image from '~/assets/icons/gem.svg';
import client3Image from '~/assets/icons/heart.svg';

const metadata = {
  title: 'Pine Tree Magick',
  description: 'Welcome to Pine Tree Magick Astrology Made Simple, Magick Made Real',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>

  <!-- Hero2 Widget ******************* -->

  <HeroBackground
    id="hero"
    title="Pine Tree Magick"
    actions={[{ variant: 'secondary', text: 'Book a Reading', href: getPermalink('/readings') }]}
  >
    <Fragment slot="subtitle">Ritual Astrology for Living in Alignment&nbsp;</Fragment>
  </HeroBackground>

  <!-- Content Widget **************** -->
  <ContentBasic
    isReversed
    wrapperClass="overflow-hidden"
    title="Helping You Remember Your Power"
    content="Ritual astrology blends divine timing and manifestation to help you work with the Universe, not against it. Marrying the concepts of fate and free will, every private session reading includes a personalized ritual designed for your unique chart and planetary alignment, helping you to connect to your natal chart and cosmic timing. Audio readings are designed for specific manifestations, helping you to align with the energy of your desired outcome."
    image={{
      src: '~/assets/images/wheel-full.svg',
      alt: 'Hand-drawn astrological chart',
    }}
  >
    <Fragment slot="content">
      <h2 class="tracking-tight dark:text-white sm:text-4xl mb-2 font-heading">Unlock Your Natal Chart</h2>
      <p>
        Astrology is the study of the movements and relative positions of celestial bodies, interpreted as having an
        influence on human affairs and the natural world.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </ContentBasic>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Discover the Power of Astrology and Magick"
    titleMotifImage="/assets/icons/hand-stars.svg"
    items={[
      {
        title: 'Book a Private Session',
        description:
          'Private sessions are perfect for anyone seeking real-time connection and actionable guidance. Each private session includes a personalized step-by-step ritual designed around your unique astrological blueprint, aligning your energy with your cosmic path.',
        icon: 'tabler:calendar-check',
      },
      {
        title: 'Book an Audio Reading',
        description:
          'This reading is ideal for anyone who prefers to listen and reflect in their own time. You’ll receive a detailed, pre-recorded astrology reading plus a written, step-by-step ritual to help align your vibration with your desired manifestation.',
        icon: 'tabler:sun',
      },
      {
        title: 'Book Me for Your Next Gathering',
        description:
          "Bring a touch of magick to your next gathering with a personalized Tarot, ritual, or astrology experience. Whether it’s an intimate celebration or a girls night in, I’ll guide your guests through a mystical experience that inspires connection and reflection.",
        icon: 'tabler:pencil',
      },
    ]}
    image={{
      src: '/assets/images/scotland.webp',
      alt: 'Steps image',
    }}
    wrapperClass="pt-0"
  />

  <!--  Latest Workshops -->
  <LatestWorkshops />

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Testimonials"
    subtitle="Hear from those who have found clarity through celestial guidance."
    testimonials={[
      {
        testimonial:
          'Wow. This couldn’t be more spot-on. I’m blown away. It’s 100% where I’m at right now. How amazing that you can use this tool to make sense of the world around you. Thank you. Thank you. Thank you. I really needed this.',
        name: 'Client Testimonial',
        job: 'Cosmic Forecast Reading',
        image: { src: client1Image, alt: 'Client 1' },
      },
      {
        testimonial: 'You are gifted beyond belief. This reading was just what I needed to get my head back on track!',
        name: 'Client Testimonial',
        job: 'Solar Return Chart',
        image: { src: client3Image, alt: 'Client 2' },
      },
      {
        testimonial:
          'WOW! WOW! WOW! This reading brought tears to my eyes. I’m in awe of how well written and how accurate it feels. I love the addition of the current transits as well. I just cannot thank you enough.',
        name: 'Client Testimonial',
        job: 'Natal Promise Reading and Cosmic Forecast Reading',
        image: { src: client2Image, alt: 'Client 3' },
      },
      {
        testimonial:
          'A lot of themes you brought up are themes I really need to talk about. I am going to listen {to my reading} again and again. This is a huge gift. Thank you.',
        name: 'Client Testimonial',
        job: 'Cosmic Forecast Reading',
        image: { src: client3Image, alt: 'Client 4' },
      },
      {
        testimonial:
          'Thank you so much!! This is so great! I will come back to you for future readings and refer you to my friends as well!',
        name: 'Client Testimonial',
        job: 'Natal Promise Reading',
        image: { src: client2Image, alt: 'Client 5' },
      },
      {
        testimonial:
          '{Redacted’s} natal chart reading was spot on! It was so well done and kind and lovely…I loved how personal you made it. She is going to love it!',
        name: 'Client Testimonial',
        job: 'Gifted Natal Promise Reading',
        image: { src: client1Image, alt: 'Client 6' },
      },
      // {
      //   testimonial:
      //     'This is awesome!!!  Knowing her well, this is pretty amazing to see how much it correlates with her life right now. Thank you! I love the organization too.',
      //   name: 'Client Testimonial',
      //   job: 'Gifted Unlock Your Natal Chart',
      // },
    ]}
    wrapperClass=""
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    id="faq"
    items={[
      {
        title: 'Why do I need my birth time for an astrology reading?',
        description:
          'Your birth time is essential for an astrology reading because it determines the exact placement of the four angles in astrology, including your Ascendent (or rising sign) which determines the rest of your chart. Even a small difference in birth time can significantly change the chart, so having the correct time ensures more accurate insights. Please double check your birth time is correct before booking a reading.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: "What's included with the ritual?",
        description:
          "Each ritual includes a recorded meditation, journal prompts,  altar suggestions, and step-by-step instructions. Rituals are included with all readings, but vary based on which type of reading you purchase. A private session includes a personalized ritual designed specifically for your unique chart, current planetary alignment, and divine timing. Audio readings provide astrological guidance based on your chart, in addition to a powerful manifestation ritual designed around your intention.",
        icon: 'tabler:chevrons-right',
      },
      {
        title: "I'm new to manifestation and ritual magick. Can I still do the ritual?",
        description:
          "Absolutely. The rituals provided are accessible to new and advanced practitioners alike. If you've ever followed a guided meditation, written in a journal, or done an arts and crafts project, then you will be able to complete a Pine Tree Magick ritual.",
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'How often should I get an astrology reading?',
        description:
          'I suggest booking a follow-up Cosmic Forecast reading annually. Just like a weather report, understanding the forecast for the year-ahead is an invaluable tool for planning ahead and understanding your current circumstances. As an added bonus, I offer lower rates for repeat private sessions.',
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>
  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Take the Next Step"
    subtitle="Ready to live with more ease and empowerment?"
    wrapperClass=""
    actions={[
      {
        variant: 'primary',
        text: 'Book a Reading',
        href: '/readings',
      },
    ]}
  />
</Layout>
