---
import Layout from '~/layouts/PageLayout.astro';

import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Private Sessions | Pine Tree Magick',
  description: 'Pinetree Magick Readings',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <div class="mx-auto max-w-7xl p-4 md:px-8">
    <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase text-center mt-12">Reserve a Private Video Session </p>
    <h1 class="font-normal tracking-tighter font-heading text-heading text-3xl md:text-5xl text-center mb-4">Private Sessions</h1>
    <p class="text-xl text-muted text-center">Each session is one-on-one, confidential, recorded, and sent to you via email.</p>
    <p class="text-small text-white mb-6 mt-8 text-center">Please read the <a class="underline italic" href="https://pinetreemagick.com/disclaimer">disclaimer</a> before booking.</p>
    <!-- Calendly inline widget begin -->
    <!-- <div class="calendly-inline-widget" data-url="https://calendly.com/d/cqpn-mr5-4jc?hide_gdpr_banner=1&background_color=1a263a&text_color=ffffff&primary_color=f59bbb" style="min-width:320px;height:700px;"></div>
    <script is:inline type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script> -->
    <!-- Calendly inline widget end -->

    <!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/pine-tree-magick?hide_landing_page_details=1&hide_gdpr_banner=1&background_color=1a263a&text_color=ffffff&primary_color=f59bbb" style="min-width:320px;height:100vh;"></div>
<script is:inline type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->
  </div>
</Layout>
