---
import Layout from '~/layouts/PageLayout.astro';

import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Readings | Pine Tree Magick',
  description: 'Pinetree Magick Readings',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <div class="mx-auto max-w-3xl p-4 md:px-8">
    <!-- <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase text-center mt-12">Book A Written Reading</p> -->
    <h1 class="font-normal tracking-tighter font-heading text-heading text-4xl md:text-5xl text-center mb-4 mt-12">Astrology Readings</h1>
    <p class="text-xl mb-6 text-muted text-center">As a tropical astrologer, I combine traditional and modern techniques to provide insights into a soul’s potential, utilizing whole signs, traditional rulership, asteroids, and degree theory. My timing techniques include lunar progressions, transits, solar returns, profections, and zodiacal releasing. Through my work, I reframe astrology to be a tool of self-reflection and personal growth.</p>
  </div>
  <!-- Content Widget **************** -->
  <Content
    isReversed
    image={{
      src: '/assets/images/natal-chart-reading.webp',
      alt: 'Hand-drawn botanical moon phases',
    }}
    callToAction={{
      text: 'Book a Written Reading',
      icon: 'tabler:chevron-right',
      href: '/book-a-written-reading',
    }}
    callToAction2={{
      text: 'Book a Private Session',
      icon: 'tabler:chevron-right',
      href: '/private-sessions',
    }}
  >
    <Fragment slot="content">
      <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase">Unlock Your Chart</p>
      <h2 class="tracking-tight dark:text-white text-3xl sm:text-4xl mb-2 font-heading">Natal Chart Reading</h2>
      <p>
        This comprehensive written report offers key insights into your personality, desires, strengths, and challenges,
        delving into the significance of your Sun, Moon, and Rising signs, along with your ruling planet, house
        placements, and the natal aspects that shape your unique astrological profile.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    image={{
      src: '/assets/images/transit-reading.webp',
      alt: 'Celestial map with herbs',
      loading: 'lazy',
    }}
    callToAction={{
      text: 'Book a Written Reading',
      icon: 'tabler:chevron-right',
      href: '/book-a-written-reading',
    }}
    callToAction2={{
      text: 'Book a Private Session',
      icon: 'tabler:chevron-right',
      href: '/private-sessions',
    }}
    wrapperClass=""
  >
    <Fragment slot="content">
      <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase">
        Cosmic Snapshot
      </p>
      <h2 class="tracking-tight dark:text-white text-3xl sm:text-4xl mb-2 font-heading">
        Transits + Predictions
      </h2>
      <p>
        This personalized reading offers a deep dive into the cosmic influences that are currently affecting your natal
        chart. Combining planetary transits and lunar progressions, this reading reveals themes, key dates, and
        practical insights into your current circumstances and the timing of your life.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!-- Content Widget **************** -->
  <Content
    isReversed
    image={{
      src: '/assets/images/solar-return-reading.webp',
      alt: 'Hand-drawn botanical moon phases',
    }}
    callToAction={{
      text: 'Book a Written Reading',
      icon: 'tabler:chevron-right',
      href: '/book-a-written-reading',
    }}
    callToAction2={{
      text: 'Book a Private Session',
      icon: 'tabler:chevron-right',
      href: '/private-sessions',
    }}
  >
    <Fragment slot="content">
      <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase">
        Your Year Ahead
      </p>
      <h2 class="tracking-tight dark:text-white text-3xl sm:text-4xl mb-2 font-heading">Solar Return Reading</h2>
      <p>
        This detailed written report offers insight into the upcoming year, predicting key themes for your next “solar
        year” — the 12 months from one birthday to the next. Using the ancient timing technique of annual profections, a
        Solar Return reading highlights the year’s central focus and helps you navigate its unfolding energies. Perfect
        as a meaningful birthday gift, this report provides a roadmap to understanding and embracing the opportunities
        and challenges in the year ahead.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <Content
    image={{
      src: 'https://images.unsplash.com/photo-1654099067467-c18c8dec1df4?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Hand-drawn botanical moon phases',
    }}
    callToAction={{
      text: 'Book a Written Reading',
      icon: 'tabler:chevron-right',
      href: '/book-a-written-reading',
    }}
    callToAction2={{
      text: 'Book a Private Session',
      icon: 'tabler:chevron-right',
      href: '/private-sessions',
    }}
  >
    <Fragment slot="content">
      <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase">Your Best Places</p>
      <h2 class="tracking-tight dark:text-white text-3xl sm:text-4xl mb-2 font-heading">Astrocartography Reading</h2>
      <p>
        Curious about how the energy of different places affects your life? Astrocartography maps the planets' influence
        on the world, revealing the locations that align with your career, relationships, self, and home. Whether you're
        planning a move, a vacation, or just exploring possibilities, this report will go in-depth on three places of
        yoru choosing.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
