---
import Layout from '~/layouts/PageLayout.astro';

import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Readings | Pine Tree Magick',
  description: 'Pinetree Magick Readings',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    image={{
      src: 'https://plus.unsplash.com/premium_photo-1700740342769-17e817ad6400?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Hand-drawn botanical moon phases',
    }}
    callToAction={{
      text: 'Book a Written Reading',
      icon: 'tabler:chevron-right',
      href: '/book-a-written-reading',
    }}
  >
    <Fragment slot="content">
      <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase">$75 as solo reading</p>
      <h2 class="tracking-tight dark:text-white sm:text-4xl mb-2 font-heading">Unlock Your Natal Chart</h2>
      <p>
        This comprehensive written report offers key insights into your personality, desires, strengths, and challenges,
        delving into the significance of your Sun, Moon, and Rising signs, along with your ruling planet, house
        placements, and the natal aspects that shape your unique astrological profile.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    image={{
      src: 'https://images.unsplash.com/photo-1511798616182-aab3698ac53e?q=80&w=2776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Celestial map with herbs',
      loading: 'lazy',
      width: 600,
      height: 400,
    }}
    callToAction={{
      text: 'Book a Written Reading',
      icon: 'tabler:chevron-right',
      href: '/book-a-written-reading',
    }}
    wrapperClass=""
  >
    <Fragment slot="content">
      <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase">
        $50 as add on, $75 as solo reading
      </p>
      <h2 class="tracking-tight dark:text-white sm:text-4xl mb-2 font-heading">
        Cosmic Snapshot: Transits + Predictions
      </h2>
      <p>
        This personalized reading offers a deep dive into the cosmic influences that are currently affecting your natal
        chart. Combining planetary transits and lunar progressions, this reading reveals themes, key dates, and
        practical insights into your current circumstances and the timing of your life.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!-- Content Widget **************** -->
  <Content
    isReversed
    image={{
      src: 'https://images.unsplash.com/photo-1470252649378-9c29740c9fa8?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Hand-drawn botanical moon phases',
    }}
    callToAction={{
      text: 'Book a Written Reading',
      icon: 'tabler:chevron-right',
      href: '/book-a-written-reading',
    }}
  >
    <Fragment slot="content">
      <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase">
        $50 as add on, $75 as solo reading
      </p>
      <h2 class="tracking-tight dark:text-white sm:text-4xl mb-2 font-heading">Solar Return: Your Year Ahead</h2>
      <p>
        This detailed written report offers insight into the upcoming year, predicting key themes for your next “solar
        year” — the 12 months from one birthday to the next. Using the ancient timing technique of annual profections, a
        Solar Return reading highlights the year’s central focus and helps you navigate its unfolding energies. Perfect
        as a meaningful birthday gift, this report provides a roadmap to understanding and embracing the opportunities
        and challenges in the year ahead.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <Content
    image={{
      src: 'https://images.unsplash.com/photo-1654099067467-c18c8dec1df4?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Hand-drawn botanical moon phases',
    }}
    callToAction={{
      text: 'Book a Written Reading',
      icon: 'tabler:chevron-right',
      href: '/book-a-written-reading',
    }}
  >
    <Fragment slot="content">
      <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase">$75 as solo reading</p>
      <h2 class="tracking-tight dark:text-white sm:text-4xl mb-2 font-heading">Your Best Places</h2>
      <p>
        Curious about how the energy of different places affects your life? Astrocartography maps the planets' influence
        on the world, revealing the locations that align with your career, relationships, self, and home. Whether you're
        planning a move, a vacation, or just exploring possibilities, this report will go in-depth on three places of
        yoru choosing.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
