---
import Layout from '~/layouts/PageLayout.astro';

import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Readings | Pine Tree Magick',
  description: 'Pinetree Magick Readings',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <div class="mx-auto max-w-3xl p-4 md:px-8">
    <!-- <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase text-center mt-12">Book A Written Reading</p> -->
    <h1 class="font-normal tracking-tighter font-heading text-heading text-4xl md:text-5xl text-center mb-4 mt-12">Private Sessions</h1>
    <p class="text-xl mb-6 text-muted text-center">Private Sessions - 60 minutes, $250 for New Clients, $200 for Returning Clients

      Private sessions serve as containers for connection and personal growth. Each online session begins with a Tarot card pull to allow wisdom from your Spirit Guides to direct our time together. From there, I’ll move through your chart to identify prevalent cycles, opportunities, and insights.
      
      After our session ends, I’ll send a ritual practice tailored to your unique astrological blueprint. Each ritual includes a recorded meditation, journal prompts, bespoke altar suggestions, and a step-by-step ritual designed to align you with your cosmic path. An audio file of our time together is included with this package.
      
      Private sessions are perfect for anyone seeking real-time connection and collaboration. If you value one-on-one interaction and enjoy asking questions, this session offers a safe container to explore your chart. It’s ideal for those who crave reflection and actionable guidance, and are interested in the art of ritual.
      </p>
  </div>
  <!-- Content Widget **************** -->
  <Content
    isReversed
    image={{
      src: '/assets/images/natal-chart-reading.webp',
      alt: 'Hand-drawn botanical moon phases',
    }}
    callToAction={{
      text: 'Book a Written Reading',
      icon: 'tabler:chevron-right',
      href: '/book-a-written-reading',
    }}
    callToAction2={{
      text: 'Book a Private Session',
      icon: 'tabler:chevron-right',
      href: '/private-sessions',
    }}
  >
    <Fragment slot="content">
      <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase">Birth Chart Reading</p>
      <h2 class="tracking-tight dark:text-white text-3xl sm:text-4xl mb-2 font-heading">Unlock Your Natal Promise</h2>
      <p>
        Perfect for those new to astrology, Unlock Your Natal Promise dives into your birth chart to answer the question: Who are you? In this session, we’ll dive into the gifts, opportunities, and challenges that arise in your birth chart, with key insights that will allow you to tap into your potential. You’ll learn about your Sun, Moon, Rising Sign, and planetary ruler, in addition to the aspects and degrees that shape your life. Most importantly, I”ll share how you can use this information for personal growth, and craft a personalized ritual to help you connect to your natal promise.

      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    image={{
      src: '/assets/images/transit-reading.webp',
      alt: 'Celestial map with herbs',
      loading: 'lazy',
    }}
    callToAction={{
      text: 'Book a Written Reading',
      icon: 'tabler:chevron-right',
      href: '/book-a-written-reading',
    }}
    callToAction2={{
      text: 'Book a Private Session',
      icon: 'tabler:chevron-right',
      href: '/private-sessions',
    }}
    wrapperClass=""
  >
    <Fragment slot="content">
      <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase">
        Year-Ahead Reading
      </p>
      <h2 class="tracking-tight dark:text-white text-3xl sm:text-4xl mb-2 font-heading">
        Cosmic Forecast
      </h2>
      <p>
        My most popular reading, Cosmic Forecast is a year-ahead reading that offers a deep dive into the planetary influences that are affecting your life.  I’ll map out key themes surrounding your current circumstances, pointing to opportunities, challenges, and the timing of your life. Techniques used are planetary transits, zodiacal releasing, lunar progressions, solar and lunar returns, and annual profections. For this reading, I’ll choose the most potent planetary energy currently affecting your chart and craft a tailored ritual to help you make the most of this transit.

      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!-- Content Widget **************** -->
  <Content
    isReversed
    image={{
      src: '/assets/images/solar-return-reading.webp',
      alt: 'Hand-drawn botanical moon phases',
    }}
    callToAction={{
      text: 'Book a Written Reading',
      icon: 'tabler:chevron-right',
      href: '/book-a-written-reading',
    }}
    callToAction2={{
      text: 'Book a Private Session',
      icon: 'tabler:chevron-right',
      href: '/private-sessions',
    }}
  >
    <Fragment slot="content">
      <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase">
       Soul's Journey Reading
      </p>
      <h2 class="tracking-tight dark:text-white text-3xl sm:text-4xl mb-2 font-heading">Past Lives and Purpose</h2>
      <p>
        For those drawn to mystical experiences, Past Lives and Purpose is a unique reading that combines astrology, Tarot, and astrocartography to explore your soul’s journey over lifetimes. Using your birth chart as a guide, Jersey will reveal karmic patterns from a recent past life, helping you to uncover your soul’s lessons in this life. Tarot adds a layer of intuitive depth, uncovering themes and emotional threads from a previous incarnation. The session ends with guidance on this life’s direction and includes a tailored ritual designed to help you tap into your Highest Self’s purpose.

      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <Content
    image={{
      src: '/assets/images/astrocartography-reading.webp',
      alt: 'Hand-drawn botanical moon phases',
    }}
    callToAction={{
      text: 'Book Audio Reading',
      icon: 'tabler:chevron-right',
      href: '/book-a-written-reading',
    }}
    callToAction2={{
      text: 'Book a Private Session',
      icon: 'tabler:chevron-right',
      href: '/private-sessions',
    }}
  >
    <Fragment slot="content">
      <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase">Career and Money Reading</p>
      <h2 class="tracking-tight dark:text-white text-3xl sm:text-4xl mb-2 font-heading">+Money Manifestation Ritual</h2>
      <p>
        Ideal for anyone struggling in their career or working through money blocks, this reading looks to the key points in your chart related to career and finances. Jersey will reveal the best ways for you to make money, and the type of career to which you are best suited. The Money Manifestation Ritual will help you align with the vibration of this energetic currency, so you can remove money blocks and call more abundance into your life.

      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
