---
import Layout from '~/layouts/PageLayout.astro';
import Rituals from '~/components/widgets/Rituals.astro';
import Bundles from '~/components/widgets/Bundles.astro';
import Freebies from '~/components/widgets/Freebies.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getCollection } from 'astro:content';
import { getShopComponents } from '~/utils/shopHelpers';

const metadata = {
  title: 'Shop | Pine Tree Magick',
  description: 'Shop Pine Tree Magick',
};

// Get collections
const bundles = await getCollection('bundle');
const rituals = await getCollection('ritual');
const freebies = await getCollection('freebie');

// Get sorted components with content
const shopComponents = await getShopComponents(bundles, rituals, freebies);
---

<Layout metadata={metadata}>
    <div class="mx-auto max-w-3xl p-4 md:px-8">
        <!-- <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase text-center mt-12">Book A Written Reading</p> -->
        <h1 class="font-normal tracking-tighter font-heading text-heading text-4xl md:text-5xl text-center mb-4 mt-12">Pine Tree Magick Shop</h1>
        <p class="text-xl text-muted text-center">Shop guided rituals, meditations, and bundles</p>
      </div>

  {shopComponents.map(component => {
    if (component.type === 'bundles') {
      return <Bundles {...component.data} />;
    } else if (component.type === 'rituals') {
      return <Rituals {...component.data} />;
    } else if (component.type === 'freebies') {
      return <Freebies {...component.data} />;
    }
  })}

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Take the Next Step"
    subtitle="Ready to live with more ease and empowerment?"
    wrapperClass=""
    actions={[
      {
        variant: 'primary',
        text: 'Book a Reading',
        href: '/readings',
      },
    ]}
  />

</Layout>
