---
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Message Sent | Pine Tree Magick',
  description: 'Thank you for your message'
};
---

<Layout metadata={metadata}>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-bold text-9xl">
          <span class="text-primary">Thank You!</span>
        </h2>
        <p class="text-3xl font-semibold md:text-3xl">Message Received</p>
        <p class="mt-4 mb-8 text-lg text-muted dark:text-slate-400">
          We'll get back to you as soon as possible.
        </p>
        <a rel="noopener noreferrer" href="/" class="btn ml-4">Back to homepage</a>
      </div>
    </div>
  </section>
</Layout> 