---
import { SITE } from 'astrowind:config';
import logoLight from '~/assets/global/logo/logo-light-horizontal.svg';
---

<span
  class="self-center rtl:ml-0 rtl:mr-2 text-2xl md:text-xl ml-4 md:ml-4 xl:ml-0 font-bold text-gray-900 whitespace-nowrap dark:text-white header-logo-wrapper"
>
  <img 
    src={logoLight.src} 
    alt={SITE?.name} 
    class="h-12 scale-[1.1] translate-x-0 lg:translate-x-6 lg:scale-[1.4] header-logo" 
  />
</span>

